.footer{
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;

    &__item{
        
    }

    &__link:link, &__link:visited{
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        font-size: 1.4rem;
        font-family: $font-display;
        display: block;
        padding: 1.5rem;
        transition: all 0.2s;
    }

    &__link:hover, &__link:active{
        background-color: rgba(#fff, 0.05);
        transform: translateY(-3px);
    }
}

.copyright{
    font-size: 1.4rem;
    text-align: center;
    color: $color-grey-light-2;
    margin: 6rem auto 0 auto;
    width: 70%;
}