.sidebar{
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
       grid-column: 1 / -1;   
       grid-row: 1 / 2;
       align-items: center;
       justify-content: flex-end;
    }
}

.nav-btn{
    border: none;
    border-radius: 0;
    height: 2px;
    width: 4.5rem;
    background-color: #fff;
    margin-top: 4rem;

    &::before, &::after{
        content: "";
        height: 2px;
        width: 4.5rem;
        background-color: #fff;
        display: block;
    }

    &::before { transform: translateY(-1.5rem); }
    &::after { transform: translateY(1.3rem); }

    @media only screen and (max-width: $bp-large) {
        margin: 0 3rem 0 0;

        &::before { transform: translateY(-1.2rem); }
        &::after { transform: translateY(1rem); }
     }
}